html {
    height: 100%;
    
}
.parent {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: dimgray;
}

.pageHeading {
    font-family: "Arial Black", Gadget, sans-serif;
    font-style: normal;
    text-align: center;
    color: Black;
}
.main {
    margin: auto;
}

/* styling for the chat control area */
.chatControl {
    display: block;
    width: 15%;
    border: .25em solid grey;
    float: left;
    margin-right: 2%;
    height: 50em;
    background-color: white;
}
.chatControl h3 {
    text-align: center;
    font-weight: 700;
    margin-bottom: -1em;
}
.buttonOpen {
    padding-left: 2em;
}
.chatControl ul {
    border-collapse: collapse;
}
.roomName {
    text-decoration: underline;
}




/* styling for the chatroom area */
.chatArea {
    width: 99%;
    display: block;
    height: 50em;
    border: .25em solid grey;
    background-color: white;
}
.chatRoomName {
    font-style: italic;
    color: red;
}
.messages {
    color: blue;
}
.user {
    text-decoration: underline;
}
.time {
    font-style: italic;
}
.newMessages {
    position: relative;
    left: 16%;
}