<h1 class="pageHeading">Chat Page</h1>




<section class="main">
    <aside class="chatControl">
        <h3>Rooms Available</h3>


        <br>
        <div class="rooms" ng-repeat="room in home.rooms">
            <ul>
                <li class="roomName">{{ room.roomName }}
                </li>
            </ul>
        </div>
        <div class="buttonOpen">
            <button ng-click="home.open()">Create New Room</button>
        </div>
    </aside>

    <section class="chatArea">
        <h4 class="chatRoomName">Chat Room Name</h4>
        <p class="messages"><span class="user">UserName:</span> message <span class="time">11:11 AM</span></p>
        <p class="messages"><span class="user">UserName:</span> longer message <span class="time">11:11 AM</span></p>
        <p class="messages"><span class="user">UserName:</span> message message message message message <span class="time">11:11 AM</span></p>
        <p class="messages"><span class="user">UserName:</span> message number 4 <span class="time">11:11 AM</span></p>
    </section>
</section>